.essai_menu {
    width : 300px;
    margin:auto;
    background-color:salmon;

}

.essai_bouton {
    width : 200px;
    margin-left:auto;
    margin-right:auto;
    background-color:red;
    padding: 20px;
    margin-top:0px;
    margin-bottom:25px;
    border-radius:50px;


